<div class="block w-50 p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Previous Questions:</h5>
    <% @user_file.gpt_model_requests.reverse_each do |request|%>
        <div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-9 md:grid-cols-2">
            <figure class="flex flex-col items-center justify-start p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
                <figcaption class="flex items-start justify-center space-x-3">
                    <img class="rounded-full w-9 h-9" src="https://cdn-icons-png.flaticon.com/512/155/155556.png" alt="profile picture">
                    <div class="flex flex-col space-y-0.5 font-medium dark:text-white text-left">
                        <div>You asked on: <%= request.created_at.to_date %></div>
                    </div>
                </figcaption>  
                <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                    <p class="my-4"><%= request.question %></p>
                </blockquote>  
            </figure>
            <figure class="flex flex-col items-center justify-start p-8 text-center bg-white border-b border-gray-200 rounded-tr-lg dark:bg-gray-800 dark:border-gray-700">
                <figcaption class="flex items-start justify-center space-x-3">
                    <img class="rounded-full w-9 h-9" src="https://static-00.iconduck.com/assets.00/openai-icon-2021x2048-4rpe5x7n.png" alt="profile picture">
                    <div class="flex flex-col space-y-0.5 font-medium dark:text-white text-left">
                        <div>ChatGPT's Solution</div>
                    </div>
                </figcaption> 
                <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                    <p class="my-4"><%= request.response.payload %></p>
                </blockquote>   
            </figure>
        </div>
    <% end %>
</div>